{% extends "Main.html" %}
{% block title %} contactenos2 {% endblock %}

{% block content %} 
<div class="container mt-3">
    <h2 style="color:rgb(36, 36, 109)"> Contactenos </h2>
    <div class="card border-5">
        <div class="card-body  bg-light" type ="width: 55rem">
            <div class="row">
                <div class="col-sm-8">
                    <div class="text-center"><br>
                        <span>&#10004;</span>
                        <p style="color:rgb(91, 91, 145); font-size:30px;">Gracias </p>
                        <botton type="button" class="btn btn-primary active text-center"  onclick="window.location.href='//127.0.0.1:8000/Biblioteca/contactenos'">Done</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 style="color: rgb(36, 36, 109)"> Contact Information</h4><br>
                    <div class="container" text="align-items center" ><hr size="2" style="border-style: solid; border-width: 1px; width: 90%;"></hr></div>
                    <p><span class="fas fa-map-marker-alt"></span> San Roque, Barva, Heredia</p>
                    <p>&#128231; contactenos@biblioteca.com</p>
                    <p>&#128241; +506 88916481</p><br>
                    <div class="container" text=" align-items center" ><hr size="2" style="border-style: solid; border-width: 1px; width: 90%;"></hr></div>
                    <div class="row">
                        <div class="col-sm-4 mt3">
                            <div class="row">
                                <div class="col-sm-2 mt3">
                                    <span class="fab fa-twitter"></span>
                                </div>
                                <div class="col-sm-2 mt3">
                                     <span class="fab fa-instagram"></span>
                                </div>
                                <div class="col-sm-2 mt3">
                                    <span class="fab fa-facebook-square"></span>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}